img{
    max-width: 100%;
    height: 98vh;
    margin: 20px;

}
.container{
    display: flex;
    align-items: flex-start;
}
h3{
    padding-top: 30px;
}
button{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition:.4s ease all;
    box-shadow: inset -6px -7px #f7aaba,
    inset 6px 7px #ffddaa;
    background-color: #f7aaba;

}
body{
    font-family: 'Poppins',sans-serif;
}
.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 100%;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: chartreuse;
}
.input-control.error input{
    border-color: red;
}
.input-control .error{
    color: red;
    font-size: 9px;
    height: 13px;
}