img{
    max-width: 100%;
    height: 98vh;
    margin: 20px;

}
.container{
    display: flex;
    align-items: flex-start;
}
h3{
    padding-top: 50px;
}
p{
    list-style: none;
    line-height: 1.5rem;
    letter-spacing: 1.5px;
}
legend{
    color: blueviolet;
    background-color: aqua;
}