
section{
    background-color: #070441;
}
img{
    max-width: 100%;
    height: 100vh;
    margin-right: 30px;
    opacity: 0.7;
}
.container{
    display: flex;
    align-items: flex-start;
    box-shadow: whitesmoke;
}
h3{
    padding-top: 10px;
    color: aliceblue;
}
h4{
    color: aliceblue;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition:.4s ease all;
    background-color: #180ed7;

}
body{
    font-family: 'Poppins',sans-serif;
}
.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    width: 50%;
    height: 25px;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: chartreuse;
}
.input-control.error input{
    border-color: red;
}
.input-control .error{
    color: red;
    font-size: 9px;
    height: 13px;
}
label{
    color: aliceblue;
}
p{
    color: aliceblue;
}

  
